.twister-title {
    font-size: 35px;
    margin: 0 15px;
}
img.twister-title {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 42px;
    height: 42px;
}

a.twister-title {
    text-decoration: none;
}
.twister-title > span:nth-child(1) {
    color: #eb3d00;
}
.twister-title > span:nth-child(2) {
    color: #009049;
}
.twister-title > span:nth-child(3) {
    color: #0089e0;
}
.twister-title > span:nth-child(4) {
    color: #ebce00;
}
.twister-title > span:nth-child(5) {
    color: #eb3d00;
}
.twister-title > span:nth-child(6) {
    color: #009049;
}
.twister-title > span:nth-child(7) {
    color: #0089e0;
}

.text-warning {
color: #ec971f;
}
.text-danger {
color:#d43f3a;
}

.post-body--short{
    max-height: 100px;
    overflow: hidden;
    margin: 10px 0;
}

.divider-slash {
    margin: 0 10px;
}
.divider-slash:before {
    content: '|';
}

.signature {
    color: #ccc;
    font-size: .85em;
}

.signature a, span {
    color: #666;
    text-decoration: none;
}

.signature a:hover {
    color: #333;
}

.comments {
    padding: 10px 0;
}